body {
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.window {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}
.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

/* Header */
.header {
  grid-area: header;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}
.menu-icon {
  display: none;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 50px;
}
.icon-1 {
  margin: 5px;
  font-size: 25px;
}
.icon-1:hover {
  cursor: pointer;
}
.sidebar-brand {
  margin-left: 0;
}
/*SIdebar*/
@media screen and (max-width: 2000px) {
  .charts > h2 {
    max-width: 100px;
    max-height: 100px;
  }
  .charts-real > img {
    height: 160px;

    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
  .charts {
    grid-template-columns: 1fr;
  }
  .charts-real {
    margin-right: 80px;
    margin-top: 100px;
  }
  .charts > h2 {
    display: flex;
    max-height: 40px;
  }
}
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
  .charts-real {
    max-height: 400px;
    max-width: 400pxs;
  }
}

@media screen and (max-width: 992px) {
  .window {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }
  #sidebar {
    display: none;
  }
  .menu-icon {
    display: inline;
  }
  .sidebar-title > span {
    display: inline;
  }
}
#sidebar {
  grid-area: sidebar;
  height: 100%;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  background-color: #161b22;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}
.sidebar-title > span {
  display: none;
}
.sidebar-brand {
  padding: 0;
  list-style-type: none;
}
.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}
.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}
.sidebar-responsive {
  display: inline !important;
  position: absolute;

  z-index: 15 !important;
}

/*HOME*/

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}
.main-title {
  display: flex;
  justify-content: space-between;
}
.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}
.card:first-child {
  background-color: #ef7a85;
}
.card:nth-child(2) {
  background-color: #ff6d00;
}
.card:nth-child(3) {
  background-color: #2e7d32;
}
.card:nth-child(4) {
  background-color: #d50000;
}
.card-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-in > .card_icon {
  font-size: 25px;
}
.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}
