* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.forgo-pass {
  display: flex;
  position: relative;
  margin-left: 750px;
  margin-top: 50vh;
  align-items: center;
}
#light {
  background-color: antiquewhite;
}
#dark {
  background-color: #0d1117;
}

.backlogin {
  margin-top: 15px;
}
.backlogin:hover {
  cursor: pointer;
}
.forgo-pass {
  font-size: 30px;
  margin-left: 820px;
}
.forgo-form input {
  margin-left: 800px;
  font-family: "JetBrains Mono", monospace;
  width: 300px;
  height: 30px;
  border-radius: 3px;
  background: none;
  font-size: 16px;
  color: white;
  border: 2px solid rgba(255, 253, 253, 0.3);
}
.forgo-form button {
  margin-left: 920px;
  height: 40px;
  width: 75px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  background-color: #238636;
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-weight: bolder;
}
.forgo-form button:hover {
  cursor: pointer;
}
.forgo-login {
  margin-bottom: 15px;
}
.forgo-login:hover {
  cursor: pointer;
}
.login-page {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: auto;
  background-color: #0d1117;
}
.welcome {
  position: relative;
  bottom: 200px;
  left: 425px;
  font-size: 30px;
}
.wrapper {
  width: 420px;
  border-radius: 10px;
  height: 310px;
  margin-right: 500px;
  padding-top: 10px;
  padding-bottom: 150px;
  padding-left: 10px;
  padding-right: 16px;
  border: 2px solid black;
  background-color: #161b22;
  margin-top: 10px;
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
}
.wrapper .emailBox,
.passBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  font-family: "JetBrains Mono", monospace;
}
.emailBox {
  margin-bottom: 0;
  max-height: 30px;
}
.passBox {
  margin: 0;
}
.emailBox input {
  font-family: "JetBrains Mono", monospace;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background: none;
  font-size: 16px;
  color: white;
  border: 2px solid rgba(255, 253, 253, 0.3);
}
.passBox input {
  font-family: "JetBrains Mono", monospace;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background: none;
  font-size: 16px;
  color: white;
  border: 2px solid rgba(255, 253, 253, 0.3);
}
.emailBox input::placeholder {
  color: white;
}
.passBox input::placeholder {
  color: white;
}
.wrapper button {
  margin-top: 20px;
  width: 40%;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-left: 115px;
  background-color: #238636;
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-weight: bolder;
}
.wrapper button:hover {
  background-color: #168b66;
  cursor: pointer;
}

@media screen and (max-width: 1351px) {
  .welcome {
    margin: 0;
    padding: 0;
    left: 0;
  }
  .wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 450px;
  }
  .wrapper form {
    width: 400px;
    margin-left: 20px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 431px) {
  .welcome {
    margin-left: 100px;
    padding: 0;
    width: 100%;
  }
}
